

body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: #c4c4c4;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #DC143C;
    color: #fff;
    text-align: center;
    padding: 1em;
}

footer {
    background-color: #333333;
    color: #C0C0C0;
    text-align: center;
    padding: 1em;
    margin-top: auto;
}

#links {
    color:#333333;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    max-width: auto;
    margin: 20px 10%;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the social media and contact links */
.social-contact-section ul {
    list-style: none;
    padding: 0;
}

.social-contact-section li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.social-contact-section img {
    width: 24px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
    margin-right: 50px; /* Adjust the spacing between the logo and text */
}

.social-contact-section a {
    text-decoration: none;
    color: #333333;
}

.social-contact-section a:hover {
    text-decoration: underline;
    color: #DC143C;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #DC143C;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #DC143C;
  }

  .flex-container {
    display: flex;
}

.section1, .section2 {
    flex: 1;
    box-sizing: border-box;
    padding: 20px;
}

  
@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }